<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div>
          <ul>
            <li>
              <a href="/"
              >🏠
              </a>
            </li>
            <li>
              <a href="/register">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> Page</p>

  </body>
</html>
